 /* Site Fonts */
 html {
    font-family: Poppins !important;
}

body {
    margin-bottom: 0px;
}

/* Public */
.container {
    max-width: 80%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    overflow: unset;
    margin: 0px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 0px;
}

.card-title {
    font-weight: 500;
    margin-bottom: .75rem;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.card-top-title {
    font-weight: 500;
    margin-bottom: 3rem;
    padding-top: 11rem;
    font-size: calc(12px + 3vw);
}

.section {
    text-align: center;
    padding-bottom: 4em;
}

.modal.popup {
   top: 10%;
}

.orangColor {
    color: #ff7a2e;
}

.pl-8 {
    padding-left: 8rem !important;
}

.pt-8 {
    padding-top: 8rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

p {
    line-height: 1.71;
    font-size: 1.5rem;
}

h2 {
   font-weight: 600;
    font-size: 46px;
}

h1 {
   font-weight: 600;
}


/* Navbar */

.navbar-brand {
    padding: 0px !important;
}

.navbar-brand>img {
    height: 32px;
}

.navbar-default {
    border-bottom: none;
    padding: 20px 0px 0px 0px !important;
}

.nav-lined-item {
    border-right: 2px solid #ff7a2e;
    padding-right: 0.9em;
}

.navbar-default .navbar-nav > li > a {
   color: black !important;
}

.navbar-nav>li>a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: .9em !important;
}

.nav-btn-item {
    border: 2px solid #ff7a2e;
    border-radius: 20px !important;
    height: unset;
}

.nav-icon-item {
   color: #ff7a2e !important;
   font-size: 1.5em;
}

/* Order Section */
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.custom-order-btn {
    float: right;
    color: #fff !important;
    background-color: black !important;
    border-color: black !important;
    border-radius: 20px !important;
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.14);
    width: 142px;
    height: 49px;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #ff7a2e;
    background-color: #fff;
    border-color: #ff7a2e;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #ff7a2e;
    background-color: #fff;
    border-color: #ff7a2e;
}

.custom-order-btn:hover {
    color: #ff7a2e !important;
    background-color: #fff;
    border-color: #ff7a2e;
}

.custom-select {
    border: 1px solid #ced4da;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: darkgrey;
    border-radius: 20px !important;
    background-size: 15px !important;
    background: #fff url("../../templates/web/img/down-arrow.png") no-repeat right 1.5rem center/8px 10px;
    /* background: #fff  url("../../../asset/img/arrow.png") no-repeat right 1.5rem center/8px 10px; */
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.14);
    width: 433px;
}

.custom-input-group {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    flex-direction: column;
    width: 433px;
    margin-bottom: 15px;
}

.custom-input {
    color: darkgrey;
    border-radius: 20px !important;
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid #ced4da;
    position: absolute;
    width: 433px;
    cursor: pointer !important;
}

.form-control::placeholder {
    color: darkgrey;
}

.custom-input-icon {
    align-self: end;
    z-index: 99;
    scale: 0.49;
    padding-right: 3px;
}

/* Upload-your-store-to-Deliver and Deliver-to-your-company Section */
.long-section {
    text-align: center;
    padding-bottom: 12em;
}

.custom-card-img-overlay {
    position: absolute;
    right: auto;
    bottom: -9em;
    left: auto;
    padding: 1.25rem;
    background-color: #fff;
    background-color: rgba(249, 249, 249, 0.5);
    align-self: center;
    text-align: center;
}

.custom-card-btn {
    color: #fff !important;
    background-color: #ff7a2e;
    border-color: #ff7a2e;
    border-radius: 20px !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    position: absolute;
    bottom: -1.8em;
    left: 50%;
    margin-left: -40px;
}

.custom-card-btn:hover {
    color: #ff7a2e !important;
    background-color: #fff;
    border-color: #ff7a2e;
}

/* Download-the-food-you-love Section */
.imgBtn {
    width: 10em;
}

/* Hungry For more than food Section */
.hvr-float-shadow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Hungry For more than food Section finished*/

/* Footer */
footer {
    background-color: #434949;
    border-top: 4px solid #ff7a2e;
    padding-top: 4em;
}

.text-left {
    text-align: left;
    color: #fff;
}

.list-unstyled>li>a {
    color: #fff !important;
}

/* .list-unstyled>li::before {
    content: ">";
    font-size: small;
    padding-right: 8px;
    color: #fff;
} */

.imgBtnSmall {
    width: 7em;
}